// @use '@angular/material' as mat;

html {
  height: 100%;
  // background-color: var(--mat-sys-surface);
  // color: var(--mat-sys-on-surface);
}

body {
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
  // background: var(--bs-secondary-color);
  // background: var(--mat-sys-surface-container);
  // color: var(--mat-sys-on-background);
  // background: var(--mat-sys-surface-bright);
  // color: var(--mat-sys-on-surface-bright);
  margin: 0;
  // padding: 30px;
  height: 100%;

  // @include mat.theme((color: (theme-type: dark,
  //       primary: mat.$azure-palette,
  //       tertiary: mat.$blue-palette,
  //     ),
  //     typography: Roboto,
  //     density: 0,
  //   ));
}